{% extends 'header.html' %}{% block content %}
<link href="../static/styles/cart.css" rel="stylesheet">
<section class="py-5">
   <div class="container px-4 px-lg-5 my-5">
      <div class="d-flex align-items-start">
         <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <button class="nav-link active" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Orders</button>
            <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</button>
         </div>
         <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab" tabindex="0">
               {%  if orders|length!=0 %}
               {% for order in orders %}
               <div class="card" style="width: 50rem;">
                  <div class="row g-0">
                     <div class="col-md-4 align-self-center">
                        <div class="card-header">
                           <h5 class="card-title">Ordered</h5>
                           <h6 class="card-subtitle mb-2">{{ order.order_date }}</h6>
                           <h6 class="card-subtitle mb-2 text-body-secondary">#{{ order.order_id }}</h6>
                           <p class="card-text">${{ order.total_amount }}</p>
                        </div>
                     </div>
                     <div class="col-md-8 align-self-center">
                        <div class="card-body text-center">
                            {% set order_id = order.order_id %}
                            {% set consoles = OrderConsole.query.filter_by(order_id=order_id).all() %}

                            {% for console_relation in consoles %}
                                {% set console_data = console_relation.console %}
                                {% set console_full = console_data.manufacturer ~ " " ~ console_data.console_name %}
                                <h5 class="card-title">{{ console_full }}</h5>
                            {% endfor %}

                        </div>
                     </div>
                  </div>
               </div>
               <div class="my-4"></div>
               {% endfor %}
               {% endif %}
            </div>
            <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab" tabindex="0">
                <a class="btn btn-outline-dark mt-auto mr-2" href="{{url_for('main.change_password')}}">Change password</a>
            </div>
         </div>
      </div>
   </div>
</section>
<footer class="py-5 bg-dark">
   <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p>
   </div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}
